 <%-include('header')%>
 <div class="container">
    <div class="row">
            <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        
                        <div class="panel-title">Add New Password </div>
                         </div>  
                    <div class="panel-body" >
                        <form action="/addnewpassword" id="AddpasswordForm" class="form-horizontal" method="post"  role="form" >
                          <% if(success !=''){ %>
                            <p style="text-align: center; color:green;"><%= success %></p>
                            <% } %>
                            <% if(msg !='') { %>
                              <p style="text-align: center; color:red;"> <%= msg %> </p>
                             <% } %>
                          <div class="form-group">
                                <label for="uname" class="col-md-3 control-label">Password Category</label>
                                <div class="col-md-9">
                                   <select class="form-control" name="password_category">
                                       <option value="">Choose Password Category</option>
                                       <% if(records.length > 0 ) {
                                        records.forEach(function(row) { 
                                          %>
                                       <option value="<%= row.password_category %>" ><%= row.password_category  %></option>
                                       <% })} %>
                                   </select>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="project" class="col-md-3 control-label">Project Name</label>
                              <div class="col-md-9">
                                  <input type="text" class="form-control"  name="project_name"  placeholder="Enter Your Project Name">
                              </div>
                          </div>
                            <div class="form-group">
                                <label for="passworddetail" class="col-md-3 control-label">Password Detail's</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="editor1" name="password_detail" rows="5" placeholder="Enter Your Password Detail"></textarea>
                                </div>
                            </div>
                              <div class="form-group">
                              <div class="col-md-offset-3 col-md-9">
                              <button type="submit" class="btn btn-primary " value="Add Password">Add Password</button>
                              </div></div>
                              <p ><a  href="/viewallpassword">View All Password List's</a></p>
                            </form>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <script>
                CKEDITOR.replace( 'editor1' );
        </script>    
<%-include('footer')%>